@font-face {
    font-family: league;
    src: url(assets/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
}

@font-face {
    font-family: league-title;
    src: url(assets/BeaufortForLoL-OTF/BeaufortforLOL-Heavy.otf);
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: league;
    font-weight: bolder;
}

main {
    background-image: url(https://images7.alphacoders.com/131/1319089.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loading {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #0A1428;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-spinner {
    z-index: 3;
    color: white;
}

.wraper {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: space-between;

}

.label-text {
    font-weight: bolder;
    font-size: 1rem;
    color: #A09B8C;
}

.switch-wrap {
    cursor: pointer;
    background: #0A1428;
    padding: 7px;
    width: 30px;
    height: 15px;
    border-radius: 33.5px;
    border: 2px solid #785A28;
}

.switch-wrap input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: 0.2s;
}

.switch::after {
    content: "";
    border-radius: 50%;
    background: #ccc;
    grid-column: 2;
    transition: background 0.2s;
}

input:checked+.switch {
    grid-template-columns: 1fr 1fr 0fr;
}

input:checked+.switch::after {
    background-color: #C89B3C;
}

#title {
    font-family: league;
    color: white;
    font-size: 50px;
}

#play-all-button {
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    width: 50vw;
    position: sticky;
    bottom: 5px;
    background-color: #4c4c58;
    color: #ffffff;
    border: 3px solid #3fb8ca;
    cursor: pointer;
}

#play-all-button:hover {
    background-color: #656574;
    transform: scale(1.01);
}

#muteall {
    font-size: smaller;
    padding: 10px;
    border-radius: 5px;
    width: 20vw;
    height: 50px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    background-color: #4c4c58;
    color: #ffffff;
    border: 3px solid #3fb8ca;
    cursor: pointer;
}

#muteall:hover {
    background-color: #656574;
    transform: scale(1.01);
}

section {
    animation: 0.3s ease-in 0s 1 slideInFromRight;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#late-tracks {
    animation: 0.3s ease-in 0s 1 slideInFromLeft;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
    margin: 5px 15px;
    padding: 10px;
    border: 1px solid #fffe66;
    border-radius: 4px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 90%;
    background-color: #0A1428;
    color: white;
}

article:hover {
    filter: brightness(0.9);
}

h4 {
    width: 25%;
}

img {
    width: 25px;
    border: 2px solid #c59647;
    border-radius: 200px;
}

progress:hover {
    background-color: rgb(114, 114, 114);
}

input[type="range"] {
    color: red;
    width: 25%;
    cursor: pointer;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 25%;
    margin: 0 10px;
    border-radius: 10em;
    background: rgb(146, 146, 146);
    cursor: pointer;
}

progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: linear-gradient(90deg, #005A82, #0AC8B9);
    cursor: pointer;
}

@media screen and (width > 768px) {
    * {
        font-size: 1.12em
    }

    article {
        height: 8vh;
        width: 60%
    }

    img {
        width: 50px;
        margin: 20px;
    }

    input {
        width: 10%;
    }

    progress[value] {
        width: 50%
    }

    #muteall {
        width: 15vw;
        left: 20px;
    }
}