* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bolder;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#play-all-button {
    padding: 10px;
    margin: 5px;
    width: 95vw;
    position: sticky;
    bottom: 5px;
}
#play-all-button:hover {
    background-color: rgb(139, 208, 225);
    transform: scale(1.01);
}
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article {
    margin: 5px 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 60%;
    background-color: lightgray;
}
article:hover {
    filter: brightness(0.9);
}
h4 {
    width: 100px;
}

progress:hover {
    background-color: rgb(114, 114, 114);
}
progress[value] {
    --w: 300px;
    /* the width*/
    --color:
        /* the progress color */
        linear-gradient(90deg, #ff6161, #1ecd1e) 0/var(--w);
    --background: rgb(146, 146, 146);
    /* the background color */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: var(--w);
    margin: 0 10px;
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}